.footer__copyright {
  margin: 0 0 24px 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  color: #ffffff;
}

/* Media
=========== */

@media screen and (max-width: 767px) {
  .footer__copyright {
    margin: 0 0 24px 18px;
  }
}

@media screen and (max-width: 320px) {
  .footer__copyright {
    margin: 48px 0 24px 0;
  }
}
