.intro {
  max-width: 702px;
  margin: 92px 0 0 148px;
}

/* Media
=========== */

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 690px;
    margin: 99px 0 0 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 92px 24px 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    margin: 64px 16px 0 16px;
  }
}
