.grid__container {
  max-width: 1184px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
}

/* Media
=========== */

@media screen and (max-width: 1024px) {
  .grid__container {
    max-width: 928px;
    margin: 0 48px 0 48px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .grid__container {
    max-width: 720px;
    margin: 0 24px 0 24px;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(352px, 1fr));
    gap: 16px;
  }
}

@media screen and (max-width: 767px) {
  .grid__container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 12px;
    margin: 64px 16px 0px 16px;
  }
}
