.cover__background {
  min-height: 740px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  box-sizing: border-box;

  position: relative;
}

.cover__background:hover::after {
  opacity: 0.8;
}

.cover__background::after {
  content: '';

  width: 100%;
  height: 100%;

  background: #2a2c2f;

  transition: 0.2s linear;
  opacity: 0.3;

  position: absolute;
}

/* Media
=========== */

@media screen and (max-width: 1024px) {
  .cover__background {
    width: 100%;
    min-height: 640px;
  }
}

@media screen and (max-width: 767px) {
  .cover__background {
    min-height: 400px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .cover__background {
    width: 100%;
    min-height: 480px;
    margin: 0;

    background-size: contain;
  }
}

@media screen and (max-width: 320px) {
  .cover__background {
    min-height: 200px;
  }
}
